/* styles.css created by Carlos A. Valdez */

:root {

}

.container {

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.sections {
    /* combination of both left and right sections */
    display: flex; 
    /* leave direction as is */
    min-height: 100vh;
}

/* Left Section */
.left-section {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-image: url("./images/signupImage.jpg");
    background-size: 100% 100%;
    color:rgb(217, 215, 215);
    max-width: 32rem;
    justify-content: space-around;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner h1 {
    font-weight: lighter;
}

.banner img {
    height: 120px;
}

.credits {
    /* justify-content: baseline; */
    align-items: center;
    text-align: center;
    font-size: .8rem;
}

a {
    color:blueviolet;
}

/* Right Section */
.right-section {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.top {
    background-color: #E8E8E8;
    padding: 3rem 2rem;
}

.top-text {
    font-size: 24px;
    font-weight: bold;
}

.top-text2 {
    font-size: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    height: 50%;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.form-section-text1 {
    font-size: 20px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 0;
}

.form-cell {
    display:flex;
    flex-direction: column;
    width: 33%;
}

form label {
    font-weight: 300;
}

form input {
    border: 1px solid #D6D9DC;
    border-radius: 4px;
    padding: 7px;
    font-size: 14px;
}

.bottom {
    background-color: #E8E8E8;
    font-size: 24px;
    font-weight: bold;
    padding: 2rem;
    padding-bottom: 5rem;
}

.create-account-button {
    background-color: #596D48;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
}

.bottom p {
    font-size: 18px;
    margin-bottom: 4rem;
}